<p style="color: green"><%= notice %></p>

<h1>Plates</h1>

<div id="plates">
  <% @plates.each do |plate| %>
    <%= render plate %>
    <p>
      <%= link_to "Show this plate", plate %>
    </p>
  <% end %>
</div>

<%= link_to "New plate", new_plate_path %>
