<p style="color: green"><%= notice %></p>

<h1>Here is your Weekly menu</h1>

<h2><strong>Plates</strong></h2>

<div id="plates">
  <% @plates.each do |plate| %>
    <%= render plate %>

<button type="button" name="button"><%= link_to "Show this plate", plate %></button>

  <% end %>
<br>
<br>

<button type="button" name="button"><%= link_to "New plate", new_plate_path %></button>
